h1{
    color: teal;
}

h2{
    color: teal;
}

h3{
    color: teal;
}

h4{
    color: teal;
}

.active_border{
    border: 2px solid;
    border-color: teal;
}

.navbar-brand{
    background-color: teal;
    padding-left: 5px;
    padding-right: 5px;
}

.white{
    color: white;
}

.bg-color{
    background-color: white;
}

/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
@media (max-width: 768px) {
    .bg-color {
      background-color: teal;
    }
    a.nav-link{
        color: white!important;
    }
  }
